<header class="bg-gray-200 px-6 py-4">
  <div class="container mx-auto flex items-center justify-between">
    <!-- Left section with logo -->
    <div class="flex items-center space-x-2">
      <img class="hidden lg:block h-9 w-auto" src="assets/images/tennis.png" alt="Workflow">
    </div>

    <!-- Center section with navigation -->
    <nav class="flex items-center space-x-4">
      <a href="/home" class="text-gray-600 hover:text-gray-900">Tennis Center</a>
    </nav>

    <!-- Right section with Sign In and Sign Up -->
    <div class="flex items-center space-x-2">
      <a href="/signin" class="text-gray-600 hover:text-gray-900"> Sign In</a>
      <a>           </a>
      <a>           </a>

      <a href="/signup" class="text-gray-600 hover:text-gray-900">Sign Up</a>
    </div>
  </div>
</header>
