<app-headerdashboard></app-headerdashboard>
<div><br></div>
<div class="py-16 bg-gray-800 text-white">
    <div class="container mx-auto text-center">
      <h1 class="text-6xl font-bold">COURTS</h1>
    </div>
  </div>
  <div><br></div>
<!-- GroundsComponent.html -->
<div class="flex flex-col">
    <div class="p-6 w-full bg-gray-200 mb-4 rounded-lg shadow-md">
      <!-- Replace your-image.png with the path of your image -->
      <div class="flex items-center">
        <img class="w-80 h-70 object-cover" src="/assets/images/tennis1.jpg" alt="Image" />
        <div class="w-3/4 pl-6">
          <h2 class="font-semibold text-gray-700 mb-2">Grass courts</h2>
          <p class="text-gray-600 mb-2">Grass courts are the most traditional tennis courts. Tennis gained its popularity while being played on gardens and grass lawns of the old British aristocracy, and hence is often called lawn tennis.</p>
          <p class="text-gray-600 mb-2">Category: PREMIUM</p>
          <p class="text-gray-600">Price: $80/hr</p>
        </div>
      </div>
    </div>
    <div class="p-6 w-full bg-gray-200 mb-4 rounded-lg shadow-md">
        <!-- Replace your-image.png with the path of your image -->
        <div class="flex items-center">
          <img class="w-80 h-70 object-cover" src="/assets/images/tennis2.jpg" alt="Image" />
          <div class="w-3/4 pl-6">
            <h2 class="font-semibold text-gray-700 mb-2">Hard courts</h2>
            <p class="text-gray-600 mb-2">Hard courts are generally made of synthetic or acrylic layers laid on top of a concrete or asphalt foundation. Resin and rubber are also used in some constructions.</p>
            <p class="text-gray-600 mb-2">Category: First Class</p>
            <p class="text-gray-600">Price: $100/hr</p>
          </div>
        </div>
      </div>
      <div class="p-6 w-full bg-gray-200 mb-4 rounded-lg shadow-md">
        <!-- Replace your-image.png with the path of your image -->
        <div class="flex items-center">
          <img class="w-80 h-70 object-cover" src="/assets/images/tennis3.jpg" alt="Image" />
          <div class="w-3/4 pl-6">
            <h2 class="font-semibold text-gray-700 mb-2">Clay courts</h2>
            <p class="text-gray-600 mb-2">A clay court is generally made of crushed shale stone or brick and other unbound mineral aggregate. There are two types of clay courts commonly found.</p>
            <p class="text-gray-600 mb-2">Category: VIP</p>
            <p class="text-gray-600">Price: $120/hr</p>
          </div>
        </div>
      </div>
    
  
    
  
  </div>
  
  <footer class="fixed-bottom text-gray-700 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col mt-72 h-full">
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 Tennis Club —
            <a href="#" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">Tennis Organisation</a>
        </p>
    </div>
</footer>
 
  
