<header class="bg-gray-200 px-6 py-4">
    <div class="container mx-auto flex items-center justify-between">
      <!-- Left section with logo -->
      <div class="flex items-center space-x-2">
        <img class="hidden lg:block h-9 w-auto" src="assets/images/tennis.png" alt="Workflow">
      </div>
  
      <!-- Center section with navigation -->
      <nav class="flex items-center space-x-4">
        <a href="/dashboard" class="text-gray-600 hover:text-gray-900">Home</a>
        <a href="/grounds" class="text-gray-600 hover:text-gray-900">Courts</a>
        <a href="/services-tennis" class="text-gray-600 hover:text-gray-900">Services</a>
        <a href="/materials" class="text-gray-600 hover:text-gray-900">Materials</a>
      </nav>
  
      <!-- Right section with Log Out -->
      <div class="flex items-center space-x-2">
        <a href="/home" class="text-gray-600 hover:text-gray-900">Log Out</a>
      </div>
    </div>
  </header>
  
