<div class="max-w-xl mx-auto">
    <h2 class="text-xl font-medium mb-4">Make a Reservation</h2>
    <form class="space-y-6" (ngSubmit)="onSubmit()" #isFormValid="ngForm" [formGroup]="reservationFormGroup">
        <div>
            <label class="block mb-2 font-medium" for="firstName">First Name</label>
            <input class="w-full px-4 py-2 rounded-lg border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" type="text" id="firstName" name="firstName" [(ngModel)]="reservationFormGroup.value.firstName" required>
        </div>
        <div>
            <label class="block mb-2 font-medium" for="lastName">Last Name</label>
            <input class="w-full px-4 py-2 rounded-lg border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" type="text" id="lastName" name="lastName" [(ngModel)]="reservationFormGroup.value.lastName" required>
        </div>
        <div>
            <label class="block mb-2 font-medium" for="email">Email</label>
            <input class="w-full px-4 py-2 rounded-lg border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" type="email" id="email" name="email" [(ngModel)]="reservationFormGroup.value.email" required>
        </div>
        <div>
            <label class="block mb-2 font-medium" for="password">Password</label>
            <input class="w-full px-4 py-2 rounded-lg border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" type="password" id="password" name="password" [(ngModel)]="reservationFormGroup.value.password" required>
        </div>
        <div>
            <label class="block mb-2 font-medium" for="profile">Profile</label>
            <input class="w-full px-4 py-2 rounded-lg border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" type="text" id="profile" name="profile" [(ngModel)]="reservationFormGroup.value.profile" required>
        </div>
        <div>
            <label class="block mb-2 font-medium" for="valid">Valid</label>
            <input class="w-full px-4 py-2 rounded-lg border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" type="checkbox" id="valid" name="valid" [(ngModel)]="reservationFormGroup.value.validated" required>
        </div>
        <div>
            <button class="px-4 py-2 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 transition-colors duration-300" type="submit">Submit</button>
        </div>
    </form>
</div>
  